rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isServerMember(serverId) {
      return get(/databases/$(database)/documents/servers/$(serverId)/members/$(request.auth.uid)).data != null;
    }

    function isServerRole(serverId, roles) {
      return get(/databases/$(database)/documents/servers/$(serverId)/members/$(request.auth.uid)).data.role in roles;
    }

    function isAllowedToRead(serverId) {
      let member = get(/databases/$(database)/documents/servers/$(serverId)/members/$(request.auth.uid));
      return member != null && member.data.role != 'trial';
    }
    
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == userId;
    }

    match /users/{userId}/friends/{friendId} {
      allow read: if request.auth.uid == userId;
      allow write: if request.auth != null;
    }

    match /friendRequests/{requestId} {
      allow read: if request.auth.uid == resource.data.fromUserId || request.auth.uid == resource.data.toUserId;
      allow create: if request.auth.uid == request.resource.data.fromUserId 
                    && request.resource.data.status == 'pending'
                    && request.resource.data.fromUserId != request.resource.data.toUserId;
      allow delete: if request.auth.uid == resource.data.fromUserId || request.auth.uid == resource.data.toUserId;
    }

    match /dms/{conversationId} {
      allow read, write: if request.auth.uid in conversationId.split('_');

      match /messages/{messageId} {
        allow read: if request.auth.uid in conversationId.split('_');
        allow create: if request.auth.uid in conversationId.split('_') && request.auth.uid == request.resource.data.authorId;
        allow update, delete: if false;
      }
    }

    match /servers/{serverId} {
      allow read: if isServerMember(serverId);
      allow create: if request.auth.uid == request.resource.data.ownerId;
      allow update: if isServerRole(serverId, ['owner', 'admin']);
      allow delete: if isServerRole(serverId, ['owner']);

      match /members/{userId} {
        allow read: if isServerMember(serverId);
        // Allow user to join, or owner/admin to add
        allow create: if request.auth.uid == userId || isServerRole(serverId, ['owner', 'admin']);
        // Allow owner/admin to change roles
        allow update: if isServerRole(serverId, ['owner', 'admin']);
        // Allow user to leave, or owner/admin to kick
        allow delete: if request.auth.uid == userId || isServerRole(serverId, ['owner', 'admin']);
      }

      match /channels/{channelId} {
        allow read: if isAllowedToRead(serverId);
        allow create, update, delete: if isServerRole(serverId, ['owner', 'admin']);

        match /messages/{messageId} {
            allow read: if isAllowedToRead(serverId);
            allow create: if request.auth.uid == request.resource.data.authorId && isServerMember(serverId);
            allow delete: if isServerRole(serverId, ['owner', 'admin']) || request.auth.uid == resource.data.authorId;
            allow update: if false;
        }
      }
    }
  }
}
